@charset "utf-8";
@import url('https://fonts.googleapis.com/earlyaccess/hannari.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap');
:root {

  /* Colors: */
  --text-color1: #707070;
  --text-color2: #001F27;
  --main-color1: #F6F3EF;
  --main-color2: #FFFFFF;
  --sub-color: #BEB59D;
  --accent-color1: #919B55;
  --accent-color2: #8D2425;

  /* Font/text values */
  --text-font-family-hannarimincho:"Hannari";
  
  --text-font-style-normal: normal;
  --text-font-weight-normal: normal;
  --text-font-weight-medium: medium;
  --text-font-size-12: 12px;
  --text-font-size-16: 16px;
  --text-font-size-18: 18px;
  --text-font-size-30: 30px;
  --text-font-size-40: 40px;
  --text-character-spacing-0: 0px;
  --text-line-spacing-14: 14px;
  --text-line-spacing-20: 20px;
  --text-line-spacing-21: 21px;
  --text-line-spacing-36: 36px;
  --text-line-spacing-48: 48px;
}

/* Character Styles */
.text-lg {
  font-family: var(--text-font-family-hannarimincho);
  font-style: var(--text-font-style-normal);
  font-weight: var(--text-font-weight-normal);
  font-size: var(--text-font-size-30);
  line-height: var(--text-line-spacing-36);
  letter-spacing: var(--text-character-spacing-0);
  color: var(--text-color2);
}

.sm-copyright {
  font-family: var(--text-font-family-hannarimincho);
  font-style: var(--text-font-style-normal);
  font-weight: var(--text-font-weight-normal);
  font-size: var(--text-font-size-12);
  line-height: var(--text-line-spacing-14);
  letter-spacing: var(--text-character-spacing-0);
  color: var(--text-color2);
}

.text {
  font-family: 'Noto Serif JP', serif;
  font-style: var(--text-font-style-normal);
  font-weight: var(--text-font-weight-medium);
  font-size: var(--text-font-size-12);
  line-height: var(--text-line-spacing-20);
  letter-spacing: var(--text-character-spacing-0);
  color: var(--text-color2);
}

.head-line-sm {
  font-family: var(--text-font-family-hannarimincho);
  font-style: var(--text-font-style-normal);
  font-weight: var(--text-font-weight-normal);
  font-size: var(--text-font-size-16);
  line-height: var(--text-line-spacing-48);
  letter-spacing: var(--text-character-spacing-0);
  color: var(--text-color2);
}

.head-line-md {
  font-family: var(--text-font-family-hannarimincho);
  font-style: var(--text-font-style-normal);
  font-weight: var(--text-font-weight-normal);
  font-size: var(--text-font-size-18);
  line-height: var(--text-line-spacing-21);
  letter-spacing: var(--text-character-spacing-0);
  color: var(--text-color2);
}

.head-line-lg {
  font-family: var(--text-font-family-hannarimincho);
  font-style: var(--text-font-style-normal);
  font-weight: var(--text-font-weight-normal);
  font-size: var(--text-font-size-40);
  line-height: var(--text-line-spacing-48);
  letter-spacing: var(--text-character-spacing-0);
  color: var(--text-color2);
}

* {
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

body,
h1,
h2,
h3,
p,
li,
dl,
dd {
  padding: 0px;
  margin: 0;
}

button {
  display: none;
}


body {
  font-family: 'Noto Serif JP', serif;
  color: #707070;
  font-size: 16px;
  line-height: 1.5px;
  font-weight: 100;
  background-color: #ffff;
  position: relative;
}
.sp-only {
  display: none;
}
.pc-only {
  display: block;
}

@media screen and (max-width:768px) {
  .sp-only {
    display: block;
  }
  .pc-only {
    display: none;
  }
}

@font-face {
  font-family: "Hannari";
  src: url('../fonts/HannariMincho-Regular.otf') format('opentype');
}
@font-face{
  font-family: "aoyagireisyosimo_otf";
  src: url('../fonts/aoyagireisyosimo_otf_2_01/aoyagireisyosimo_otf_2_01.otf') format('opentype');
}

.wf-hannari {
  font-family: "Hannari";
}
.aoyagi {
  font-family: "aoyagireisyosimo_otf";
}

header {
  position: fixed;
 
  width: 100%;
  height: 70px;
  background-color: var(--sub-color);
  z-index: 300;
  justify-content: space-between;
}


.header-logo-menu {
  display: flex;
  align-items: center;
  width: 100%;
  height: 70px;
  justify-content: space-between;
  align-items: center;
}

.logo-area {
  width: 200px;
}

.gnav-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--sub-color);
  line-height: 1.5;
  overflow: auto;
}

.gnav-item {
  margin-left: 20px;
  background-color: var(--main-color2);
  text-align: center;
  align-items: center;
}

.gnav-item a {
  color: #fff;
  font-size: 16px;
  display: block;
  width: 200px;
  text-align: center;
  font-family: "Hannari";
  font-style: normal;
  font-weight: bold;
  border-bottom: 1px ;
}

.tea-logo {
  margin: 0 auto;
  width: 100px;
  height: 70px;
  object-fit: contain;
}
h1 { 
  position: relative;
  font-size: 50px;
  line-height: 1.5;
  color: var(--text-color2);
  /* font-family: HannariMincho; */
  font-family: "aoyagireisyosimo_otf";
  font-weight: bold;
  /* margin-top: 150px; */
  /* margin-bottom:100px; */
  margin: auto 0;
  z-index:10
}
.flow-icon {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index:1
}
p.explain {
  line-height: 1.5;
  text-align:left;
  font-family: 'Noto Serif JP', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: var(--text-color2);
  width: 600px;
  margin-bottom: 100px;
}


/* ハンバーガーメニュー */
.gnav-toggle {
  position: relative;
  /* margin-top: 12px; */
}

.gnav-hidden {
  display: none;
}

#gnav-open {
  display: inline-block;
  width: 30px;
  height: 22px;
  vertical-align: middle;
  margin-right: 20px;
}

#gnav-open span,
#gnav-open span::before,
#gnav-open span::after {
  content: '';
  position: absolute;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background: var(--accent-color1);
  display: block;
  cursor: pointer;
}

#gnav-open span::before {
  content: '';
  bottom: -8px;
}

#gnav-open span::after {
   content: '';
  bottom: -16px;
}

#gnav-close {
  display: none;
  position: fixed;
  z-index: 90;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #F6F3EF;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

#gnav-input:checked~#gnav-close {
  display: block;
  opacity: 0.5;
}

#gnav-input:checked~#gnav-content {
  transform: translateX(0%);
  box-shadow: 6px 0 25px rgba(0, 0, 0, 0.15);
}
#gnav-content {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300;
  width: 70%;
  max-width: 300px;
  height: 100%;
  background: #F6F3EF;
  transition: 0.3s ease-in-out;
  transform: translateX(-105%);
}

.gnav-item {
  margin: 10px;
  background-color: var(--sub-color);
 
}
.gnav-item a {
  color: #fff;
  font-size: 12px;
  display: block;
  width: 200px;
  text-align: center;
  
}

.gnav-item a::first-line {
  font-size: 16px;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  
  header{
    height: 70px;
  }
  .gnav-menu {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 50px;
    height: 100%;
  }

  .gnav-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-bottom: 2px solid #d1cfcb;
  }
  .logo-area {
    width: 20%;
    margin: 0;
    text-align: left;
  }
}

/* メインビュー */

#mv-area {
  width: 100vw;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 60px 800px;
  grid-template-rows: 800px;
  grid-gap: 80px;
  padding-top: 100px;
  background: #F6F3EF; 
  position: relative;
}

.sub-area{
  display: flex;
  justify-content: center;
  align-items: center;
}
.sub-area_sp {
  display: flex;
  align-items: center;
  width: 60px;
  /* height: 500px; */
  line-height: 1.5;
  text-align: center;
  color: #001F27;
  border: dotted 1px #001F27;
  font-family: "Hannari";
  /* 内側の線になる一本線の枠線をひく*/
  outline: solid 1px #001F27;
  /* 外側の線になる一本線の枠線をひく*/
  outline-offset: 1px;
  /* 外側の線と内側の線の空き具合を調整*/
  font-size: 40px;
  z-index: 100;
  background-color:#F6F3EF;
  margin:0;
}

.mv-main {
  width: 100%;
  height: 100%;
  z-index: 100;
  box-shadow:  20px 20px 60px #d1cfcb,
             -20px -20px 60px #ffffff;
}

.mv-sub {
 position: absolute;
  top: 100px;
  left: 0px;
  width: 50%;
  height: 35%;
  border: 1px;
  object-fit: cover;
  background: #F6F3EF;
  box-shadow:  20px 20px 60px #d1cfcb,
             -20px -20px 60px #ffffff;
  opacity: 0.3;
}
.mv-sub2 {
  position: absolute;
   bottom: 0px;
   right: 0px;
   width:  50%;
   height: 35%;
   border: 1px;
   object-fit: cover;
   background: #F6F3EF;
   box-shadow:  20px 20px 60px #d1cfcb,
              -20px -20px 60px #ffffff;
   opacity: 0.3;
 }

@media screen and (max-width: 768px) {
  #mv-area{
    width: 100%;
    height: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
    
  }
  
  .sub-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  .sub-area_sp{
    z-index: 200;
    font-size: 30px;
    margin:0;
    position:absolute;
    background: #F6F3EF;
    opacity: .9;
  }
  .mv-main{
    opacity: .7;
  }
  .mv-sub {
    width: 100%;
    top: 30px;
  } 
  .mv-sub2{
    width: 100%;
  }
  }

  /* 茶道とは */
#about {
  width: 100%;
  height: auto;
  background-color: var(--accent-color1);
}
.about-text{
  margin: 150px auto 100px;
}
.about-content {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  }

.about-window {
  max-width: 400px;
  max-height: 400px;
  margin-top: 100px;
}
.about-window_img {
  max-width: 400px;
  max-height: 400px;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  #about {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  h1{
    font-size: 25px;
  }
  p.explain {
  font-family: 'Noto Serif JP', serif;
   font-size: 16px;
   max-width: 300px;
  }
  .about-window_img {
    max-width: 300px;
  }

}
/* 道具の説明 */
#tools {
  width: 100%;
  height: auto;
  background-color: #ffff;
}
.tool-content {
  display: flex;
  flex-direction: column;
  justify-content:center;
  }
  
.section-title{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 100px 0;
  background:#F6F3EF;
  
}
.flower-green_icon,
.flower-green_icon2 {
  width: 80px;
  height: auto;
}
.tool-detail{
  width: 100%;
  justify-content: center;
  background-color: #BEB59D;
  padding:100px 0;
}
.tool-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  width: 250px;
  height: 528px;
  padding:20px;

  background-color: var(--main-color1);
  text-align: center;
  margin-left: 30px;
  line-height: 1.5;
}

.tool-item:nth-child(3) {
  margin-right: 30px;
  padding:25px;
  
}

.tool-img {
  object-fit: contain;
  margin:0 auto;
  margin-bottom: 25px;
  width: 150px;
  height: 150px;
}

img.tool-img3{
  object-fit: contain;
  width: 150px;
  height: 150px;
  margin: 25px auto 15px;
}
.tool-header {
  max-width: 50%;
  margin: 0 auto;
  border-bottom: 1px solid var(--text-color1);
}
.tool-header3{
  max-width: 50%;
  margin: 0px auto;
  border-bottom: 1px solid var(--text-color1);
}
.tool-explain{
  text-align: left;
  margin:25px;
  line-height: 28px;
}

@media screen and (max-width: 768px) {
  .section-title{
    padding: 100px 0;
  }
  .flower-green_icon, .flower-green_icon2{
    width: 60px;
  }
  .tool-detail {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  .tool-item {
    margin: 15px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .tool-img {
    margin-bottom: 25px;
    background-size: cover;
    padding-bottom: 20px;
  }
  .tool-header {
    font-size: 24px;
    text-align: center;
  
  }
  .tool-title {
    top: 9%;
    width: 320px;
    right: 30px;
  }
  .flower-green_tool {
    opacity: 0.5;
    display: inline-block;
  }
  .flower-green_tool2 {
    position: inline-block;
    opacity: 0.5;
  }
  .tool-item:nth-child(3) {
   margin:0;
  }
}

/* 菓子説明 */
#sweets {
  width: 100%;
  background-color: #ffff;
  
  background-color: var(--main-color2);
}
.sweets-list{
  display: grid;
  justify-content: center;
  grid-template-columns: 240px 240px 240px;
  grid-template-rows: 140px 140px;
  grid-gap: 80px;
  padding: 100px 0;
  height: fit-content;
  position: relative;
  /* background-color: #BEB59D; */
  background-color:rgba(190, 181, 157, 0.5);

  
}
/* アニメーション枠を作る */

.animation{
  display:flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  overflow: hidden;
  width: 240px;
  height: 140px;
  color: #BEB59D;
}
.animation.active::before {
  transform: translate(0,0);
  content:"";
  display: flex;
  width: 240px;
  height: 140px;
}
.animation::before {
  display: flex;
  position: absolute;
  top: 0;
  left:100;
  width: 100%;
  height: 100%;
  background-color: #BEB59D;
  opacity:1;
  transform: translate(0,100%);
  transition: transform 20s cubic-bezier(0.215, 0.61, 0.355, 1) .6s;
  z-index: 50;
  align-items: center;
  justify-content: center;
  margin-right: 300px;
}
.title {
  display:block;
  color: #000;
  font-family: "Hannari";
  text-align: center;
}
.title span{
  position: relative;
  height: 60px;;
  display: flex;
  opacity: 0;
  transition: transform 4s cubic-bezier(0.215, 0.61, 0.355, 1) 2s
  ,opacity linear 0.7s;
  justify-content: center;
}
.title span:first-child {
  display: block;
  width: 100%;
  margin-right: -700px;
  transform: translate(0, 40px);
  font-size: 20px;
  transition-delay: 0.25s;
  z-index:100;
  text-align: center;
  margin-top: -120px;
}
.title span:last-child {
  display:block;
  line-height: 1.5;
  margin-top: 18px;
  transform: translate(0, 30px);
  font-size: 16px;
  transition-delay: 0.45s;
  z-index:100;
  margin-top: -30px;
  text-align: left;
}
.animation.active .title span {
  opacity: 1; /*不透明になる*/
  transform: translate(0, 0);
}
img.content {
 width: 100%;
 /* background-size:contain; */
 z-index: 1;
 
}
.sweets-table{
  display: flex;
    /* background-color: #F6F3EF;  */

}

.table-container{
  display: grid;
  grid-template-columns:  420px 420px;
  grid-gap:80px;
  text-align: left;
  margin:200px auto;
  /* background-color: var(--main-color2); */
  animation: slideIn 1.6s;
  /* background-color: #F6F3EF; */
 
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.table-1,
.table-2 {
  font-size: 30px;
  margin-left:-1px;
  font-family: "Hannari";
  border: dotted 1px #001F27;
  /* 内側の線になる一本線の枠線をひく*/
  outline: solid 1px #001F27;
  /* 外側の線になる一本線の枠線をひく*/
  outline-offset: 1px;
  /* 外側の線と内側の線の空き具合を調整*/
  color: #001F27;
  
}
table,th,td {
  padding: 0.5em;
  border-spacing: 0;
}
.col-span1,
.col-span1 {
  height:50px;
}
.table-1,
.table-2{
  background-color: #F6F3EF;
}

@media screen and (max-width: 768px) {
  #sweets {
    background-color: #FFFFFF;
  }

  .sweet-title {
    font-size: 35px;
    margin-top: 80px;
    width: 360px;
    vertical-align: middle;
  }

  .flower-green_sweet {
    left: 170px !important;
    top: 0;
    opacity: 0.5;
  }

  .flower-green_sweet2 {
    top: 0;
    right: 200px;
    opacity: 0.5;
  }
  .sweets-list {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    justify-items: center;
    align-items: center;
  }
.table-container {
  display: grid;
  /* grid-template-columns: 420px; */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  align-items: center;
  grid-gap:40px;
  
}
 .table-1,
 .table-2{
  font-size: 20px;
  min-width: 300px;
}
}
.flower-red_icon,
.flower-red_icon2 {
  width: 80px;
  height: auto;
}
.card-grid{
  display: grid;
  grid-template-columns:100px 100px 100px 100px;
  grid-template-rows:400px; 
  justify-content: center;
  grid-gap: 100px;
  padding: 100px 0 200px;
  background: #BEB59D;
  position: relative;
}
.card {
  position: relative;
  width: 100%;
  height: 100%;
  perspective: 1000px;
  writing-mode: vertical-rl;
  box-shadow:  10px 10px 20px #707070,
             -10px -10px 20px #BEB59D;
  color: #001F27;
}
.front,
.back {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: transform 1s;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transform: translateZ(70px);
  box-sizing: border-box;
  padding: 10px;
}
.front {
  color: #001F27;
  font-family: "aoyagireisyosimo_otf";
  font-size: 44px;
  font-weight: bold;
  background:#F6F3EF;
  box-sizing: border-box;
 
  width: 95%;
  height: 93%;
  top:15px;
  left: 3px;

}
.color{
  position: absolute;
  top: -1px;
  width: 100%;
  height: 30px;
  background-color: #919B55;

}
.back {
  color:#FFFFFF;
  background: #919B55;
  transform: rotateY(-180deg);
  font-size: 20px;
  line-height: 1.5;
}
.flipped .front{
    transform: rotateY(180deg);
 }
.flipped .back{
  transform: rotateY(0);
  align-items: flex-start;
 }
 .flower-smred_icon2 {
  position: absolute;
  width:40%;
  top: -10px;
 }
 @media screen and (max-width:768px){
  .card-grid{
    display: grid;
    grid-template-columns:100px 100px ;
    grid-template-rows:400px 400px; 
 }
 img.flower-red_icon, img.flower-red_icon2{
  width: 60px;
 }
 }
 /* .pagetop{display: block; 
   text-align: right;
   background-color: #BEB59D;
   width: 100%;
   border: 2px;
   border-color: #BEB59D;
 }
 */

 img.pagetop{
  display: inline;
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 10px;
  right:10px
 }
/* フッター */
.footer-area {
  display:flex;
  width: 100%;
  bottom:0;
  flex-direction: column;
  align-items: center;
  background-color: var(--accent-color1);
}
.footer-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: center;
  
}
.footer-logo_img{
 width: 100px;
}
.footer-area_copy {
  width: 100%;
  text-align: center;
  height: 20px;
  font-size: 16px;
  background-color: #919B55;
}
.footer-title {
  font-size: 20px;
  color: #ffffff;
}
.footer-area_copy{
  color: #ffffff;
}